.carrousel {
  display: flex;
  margin-top: 50px;
}
.carrousel__next,
.carrousel__prev {
  flex: 1;
}
.carrousel__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 12;
  overflow-x: scroll;
}

.carrousel__items > li {
  flex: 1;
}
