.carrousel {
  display: flex;
  margin-top: 3rem;
  width: 100vw;
}
.carrousel__next,
.carrousel__prev {
  /*flex: 1;*/
  background-color: transparent;
  border-width: 0;
  cursor: pointer;
  padding: 0 1rem;
}

.carrousel__next:hover,
.carrousel__prev:hover {
  color: var(--primary-dark);
}

.carrousel__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 12;
  overflow-x: scroll;
}

.carrousel__items > li {
  flex: 1;
  padding: 0 0.5rem;
}

.carrousel__items > li > img {
  width: 100%;
  height: auto;
}
