@import url(./carrousel.css);
/**/
:root {
  --white: #f9f9f9;
  --light-gray: hsl(0, 0%, 93%);
  --black: #2c2c2c;

  --background-color: var(--light-gray);
  --foreground-color: var(--black);

  --header-background-color: hsl(0, 0%, 97%);

  --shadow-level-1: 0 2px 2px 0 hsla(0, 0%, 0%, 0.14), 0 3px 1px -2px hsla(0, 0%, 0%, 0.12),
    0 1px 5px 0 hsla(0, 0%, 0%, 0.2);
  --shadow-level-2: 0 4px 5px 0 hsla(0, 0%, 0%, 0.14), 0 1px 10px 0 hsla(0, 0%, 0%, 0.12),
    0 2px 4px -1px hsla(0, 0%, 0%, 0.3);
  --shadow-level-3: 0 8px 17px 2px hsla(0, 0%, 0%, 0.14), 0 3px 14px 2px hsla(0, 0%, 0%, 0.12),
    0 5px 5px -3px hsla(0, 0%, 0%, 0.2);
  --shadow-level-4: 0 16px 24px 2px hsla(0, 0%, 0%, 0.14), 0 6px 30px 5px hsla(0, 0%, 0%, 0.12),
    0 8px 10px -7px hsla(0, 0%, 0%, 0.2);

  --full-screen: 1;
  --wide-screen: 6;
  --white-column: 1;

  --z-index-navbar: 1500;

  --size-thumbnail: 9.375rem;
  --size-medium: 12.5rem;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#header,
#main,
.footer__content {
  padding: 0 1rem;
}

#header {
  display: flex;
  align-items: center;
  min-height: 3.125rem;
  background-color: var(--header-background-color);
  box-shadow: var(--shadow-level-3);
  position: sticky;
  top: 0;
  z-index: var(--z-index-navbar);
}

.header__content {
  flex: var(--wide-screen);
  display: flex;
  justify-content: space-between;
}

.header__logo,
.header__aux {
  flex: var(--white-column);
}

#main {
  flex: 1;
  padding: 0;
}

.footer__content {
  min-height: 3.125rem;
}

#first-section {
  background-color: white;
  text-align: center;
}

.wide-screen {
  display: flex;
  width: 100%;
}

.wide-screen::before,
.wide-screen::after {
  content: '';
  flex: var(--white-column);
}

.wide-screen > article,
.wide-screen > div {
  flex: var(--wide-screen);
}

.full-screen {
  width: 100%;
}
.box {
  background: gray;
}
.second-section__content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 15px;
  row-gap: 15px;
  grid-template-areas:
    'a  a  a  b  c  c'
    'd  e  f  b  g  h'
    'i  e  j  k  l  m';
}

.square::after {
  content: '';
  padding-bottom: 100%;
  display: block;
}

.second-section__content > article:nth-child(1) {
  grid-area: a;
}

.second-section__content > article:nth-child(2) {
  grid-area: b;
}

.second-section__content > article:nth-child(3) {
  grid-area: c;
}

.second-section__content > article:nth-child(4) {
  grid-area: d;
}

.second-section__content > article:nth-child(5) {
  grid-area: e;
}

.second-section__content > article:nth-child(6) {
  grid-area: f;
}

.second-section__content > article:nth-child(7) {
  grid-area: g;
}

.second-section__content > article:nth-child(8) {
  grid-area: h;
}

.second-section__content > article:nth-child(9) {
  grid-area: i;
}

.second-section__content > article:nth-child(10) {
  grid-area: j;
}

.second-section__content > article:nth-child(11) {
  grid-area: k;
}

.second-section__content > article:nth-child(12) {
  grid-area: l;
}

.second-section__content > article:nth-child(13) {
  grid-area: m;
}

#third-section {
  background-color: #fff;
}

#third-section > h2 {
  text-align: center;
}

.third-section__content > article {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.third-section__content > article:nth-child(odd) {
  flex-direction: row-reverse;
  text-align: right;
}

.third-section__content > article .box {
  /*flex: 0 20%;*/
  width: 100%;
  max-width: var(--size-medium);
}

.fourth-section__gallery {
  display: flex;
  justify-content: center;
}
.fourth-section__gallery > article {
  width: 100%;
  max-width: var(--size-thumbnail);
  margin: 1rem 0.5rem;
}

#fifth-section {
  background-color: var(--white);
}

.footer__content {
  display: flex;
}

.footer__content {
  display: flex;
}
.footer__content > h2 {
  flex: 0 60%;
}
.footer__content > .widget {
  flex: 0 10%;
}

.footer__copyright {
  display: flex;
}
.footer__copyright > p {
  flex: 0 60%;
}
.footer__copyright > ul {
  padding: 0;
  list-style: none;
  flex: 0 40%;
  display: flex;
  justify-content: space-between;
}
